model/__pycache__/*
__pycache__/*
log/*
log-pretrain/*
pretrained_models/*
datasets/*
!datasets/*/
datasets/*/*
stored_runs/*
!stored_runs/final_results/
stored_runs/final_results/*
!stored_runs/final_results/metrics/
!stored_runs/final_results/metrics/*
!stored_runs/final_results/runtime.txt
!stored_runs/final_results/tests/
!stored_runs/final_results/tests/*
Poster/*
*.png
wandb_checkpoints/*
wandb_logs/*
wandb/*
__init__.py
__pycache__/*
*.pyc

.env

__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.aux
*.bbl
*.blg
*.bcf
*.cut
*.fdb_latexmk
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz*
*.synctex(busy)
*.thm
*.toc
*.vrb
*.xdv
.~*#
*~
/main.pdf
/main-*.pdf
